/*
* created by waweru
*/


@import "bootstrap",
        "login",
        "platform",
        "dashboard",
        "modal.congregation",
        "districts",
        "members";


// global styling

html, body, #app{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app{
  overflow: auto;
  background: rgba(0,0,0,.04);
}

button:focus{
  outline: none;
}